* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: Beautiful, sans-serif;
}

@font-face {
    font-family: Beautiful;
    src: url(../fonts/BebasNeue-Regular.ttf);
}

body {
    width: 100vw;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.login-form-wrapper {
    display: flex;
    width: 400px;
    height: auto;
    padding: 40px 0;
    background-color: #3f3f3f;
    border-radius: 20px;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.submit-button {
    width: 140px;
    height: 40px;
    background-image: linear-gradient(#fc6901, #ffb022, #fa8a0a);
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
}

.input-wrapper {
    display: flex;
    width: auto;
    height: auto;
}

.input-label {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    border-radius: 5px 0 0 5px;
    color: #ce640b;
}

.input-label > img {
    width: 30px;
    height: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
}

.form-input {
    height: 50px;
    width: 180px;
    border-radius: 0 10px 10px 0;
    border: 0;
    padding: 0 10px;
    outline: 0;
}

.register-page-link > p {
    font-size: 20px;
    color: lightgray;
    user-select: none;
}

.register-page-link {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 230px;
    height: auto;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 15px;
}

.checkbox-wrapper {
    gap: 38px;
    cursor: pointer;
}

.checkbox-block {
    display: flex;
    width: auto;
    height: auto;
    gap: 5px;
    align-items: center;
    cursor: pointer;

}

.checkbox-wrapper > p {
    font-size: 16px;
    color: lightgray;
    cursor: pointer;
}

.checkbox-text {
    font-size: 16px;
    color: lightgray;
    font-weight: 500;
    cursor: pointer;
}

.transfer-button {
    width: 140px;
    height: 40px;
    background-image: linear-gradient(#fc6901, #ffb022, #fa8a0a);
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
}

.close-btn {
    width: 42px;
    height: 42px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
